@use 'variables';

body {
  margin: 0;
  background-color: variables.$bg;
  color: var(--text);
}

main {
  display: flex;
  gap: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
